<div class="modal-header">
    <h3 class="modal-title" ng-if="instance.id">Edit Client</h3>

    <h3 class="modal-title" ng-if="!instance.id">Create Client</h3>
</div>
<div class="modal-body">
    <form name="forms.main" ng-submit="save(instance)" backend-errors="forms.main">
        <div class="row">
            <div class="col-sm-5">
                <div ng-messages="forms.main.avatar.$error" role="alert">
                  <div ng-message="required">This field is required.</div>
                  <div ng-message="backend">{{ forms.main.backendErrors['avatar'][0] }}</div>
                </div>
                <input type="file" uploader="uploader" name="avatar" ng-model="instance.avatar"
                                       nv-file-select/>
                <img class="img-responsive"
                         ng-if="instance.avatar_url"
                         ng-src="{{ instance.avatar_url }}"
                         alt="{{ instance.first_name }} {{ instance.last_name }}">
                <a ng-if="instance.avatar" ng-click='clearPhoto(instance)' href=''>Clear Photo</a>
            </div>
            <div class="col-sm-7">
                <div class="form-group">
                    <label for="first_name">First Name:</label>
                    <div ng-messages="forms.main.first_name.$error" role="alert">
                      <div ng-message="required">This field is required.</div>
                      <div ng-message="backend">{{ forms.main.backendErrors['first_name'][0] }}</div>
                    </div>
                    <input type="text" class="form-control" id="first_name"
                           name="first_name" required="true"
                           placeholder="First Name" ng-model="instance.first_name">
                </div>
                <div class="form-group" >
                    <label for="last_name">Last Name:</label>
                    <div ng-messages="forms.main.last_name.$error" role="alert">
                      <div ng-message="required">This field is required.</div>
                      <div ng-message="backend">{{ forms.main.backendErrors['last_name'][0] }}</div>
                    </div>
                    <input type="text" class="form-control" id="last_name"
                           name="last_name" required="true"
                           placeholder="Last Name" ng-model="instance.last_name">
                </div>
            </div>
        </div>
        <div class="form-group" >
            <label for="iban">IBAN:</label>
            <div ng-messages="forms.main.iban.$error" role="alert">
              <div ng-message="required">This field is required.</div>
              <div ng-message="backend">{{ forms.main.backendErrors['iban'][0] }}</div>
            </div>
            <input type="text" class="form-control" id="iban" name="iban"
                   required="true"
                   placeholder="First Name" ng-model="instance.iban">
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-6 text-left">
            <button class="btn btn-danger" ng-if='instance.id' type="button" ng-click="delete(instance)">Delete
            </button>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-primary" type="button"
                    ng-click="save(instance)"
                    translate>Save
            </button>
            <button class="btn btn-warning" type="button" ng-click="cancel()"
                    translate>Cancel
            </button>
        </div>
    </div>
</div>