<div ng-controller="HomeCtrl">
    <table class="table">
        <tr>
            <th>Avatar</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>IBAN</th>
            <th></th>
        </tr>
        <tr ng-repeat="client in clients">
            <td>
                <div class="thumbnail-wrap" ng-if="client.avatar_url">
                    <img class="img-responsive"
                         ng-src="{{ client.avatar_url }}"
                         alt="{{ client.first_name }} {{ client.last_name }}">
                </div>
            </td>
            <td>{{ client.first_name }}</td>
            <td>{{ client.last_name }}</td>
            <td>{{ client.iban | iban }}</td>
            <td>
                <button ng-click='editClient(client)' class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"
                          aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table>
    <button ng-click="editClient({})">Add</button>
</div>
