<div ng-controller="InnerCtrl">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Sorokin Test</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="" ng-if="!$root.$auth.isAuthenticated()" ng-click="login()">Login <img src="/images/google_logo.png"></a>
                <a href="" ng-if="$root.$auth.isAuthenticated()" ng-click="logout()">Logout</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class='container' app-view-segment="1" ng-if="$root.$auth.isAuthenticated()">

    </div>
    <div class='container' ng-if="!$root.$auth.isAuthenticated()">
        Please log in.
    </div>
</div>
